<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <table class="table100 ver1 m-b-110">
                <tr class="row100 head">
                    <th class="column10">Id</th>
                    <th class="column10">User Id</th>
                    <th class="column70">Title</th>
                    <th class="column10">Completed</th>
                </tr>
                <tr class="row100" :class="[todo.completed ? 'green' : 'red']" v-for="todo in todos">
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.userId }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.completed }}</td>
                </tr>
            </table>
        </div>
    </body>
    <script>
    new Vue({
        el: '#app',
        data() {
            return {
                todos: []
            }
        },
        methods: {
            load() {
                axios
                    .get('https://jsonplaceholder.typicode.com/todos')
                    .then(response => (this.todos = response.data));
            }
        },
        beforeMount(){
            this.load();
        },
    });
    </script>
</html>